*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:15px 7%;
}

header .logo{
  height:45px;
}

nav ul li{
  margin-right: 20px;
}

header .logo img{
  height:100%;
}

.btn{
  padding:7px 10px;
  background: tomato;
  color:white;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover{
  background:#E5533F;
}

.section-space{
  margin-top:100px;
  padding:0 7%;
  position: relative;
}

.frontpage-content h1 span{
  color: tomato;
}



.frontpage-content{
    width:50%;
}

.frontpage-image{
    width:50%;
}


/*heading primary*/

.section-heading{
  text-align:center;
  font-size:50px;
  font-weight:700;
}

.section-heading span{
  color: tomato;
}


/*Cart Box*/

.cart-box{
  margin-bottom: 20px;
  border: 1px solid darkgray;
  padding:10px;
}

.cartbox-details h1{
  text-align:center;
  font-weight:500;
}

.cartbox-btn{
  display:grid;
  place-items: center;
}

.main-cart{
    grid-template-columns: repeat(4, 1fr);
  }
  
  
  /*Flowers Lover*/
  
  .challenge1-containar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 600px;
  margin: auto;
}

 .challenge1-containar div p{
   font-size:25px;
   font-weight:500;
   color:white;
}

 .challenge1-containar div p a{
   text-decoration: underline;
 }

.chall-box1 {
  background: url(/Rahat-Portfolio/images/deal-bloom.png);
  grid-column: 1;
  grid-row: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:7px;
}

.chall-box2 {
  background: url(/Rahat-Portfolio/images/deal-ana.png);
  grid-column: 1;
  grid-row: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:7px;
}

.chall-box3 {
  background: url(/Rahat-Portfolio/images/deal-zabo.png);
  grid-column: 2;
  grid-row: 1 / span 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:7px;
}

  
  
  
  

  .challenge2{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; 
    object-fit:cover;
  }
  
  .flowers-head{
    font-size:40px;
    font-weight:600;
    margin-bottom:20px;
  }
  
  .flowers-containar{
    display:flex;
  }
  
 .flowers-img{
    width:50%;
    margin-right: 20px;
  }
  
  .flowers-content{
    width:50%;
  }
  
  .flowers-content ul{
    list-style-type: disc;
  }
  
  .flowers-content ul li{
    margin-bottom:20px;
  }
  
  .subscribe-containar{
    background-image: url(/Rahat-Portfolio/images/news-letter-bg.png);
    background-size:cover;
    height:500px;
    
  }
  
  .subscribe-containar h1{
    font-size:40px;
  }
  
  
  /*Footer Start*/
  
  .footer-containar{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    
  }
  
  .footer-logotext .footer-logo{
    height:45px;
  }
  
  
  
  .footer-nav1 ul li{
    margin-bottom:20px;
  }
  
  .footer-icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }



@media (max-width:580px) {
  header nav{
    display:none;
  }
  
  .frontpage-containar{
    flex-direction: column-reverse;
  }
  
  .frontpage-content{
    width:100%;
  }
  
  .frontpage-image{
    width:100%;
  }

  .main-cart{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .frontpage-containar{
    display: block;
  }

  .flowers-containar{
    display: block;
  }
  
   .flowers-img{
    width:100%;
  }
  
  .flowers-content{
    width:100%;
  }
  
  
  .flowers-head{
    margin-top:20px;
  }
  
  .subscribe-containar h1{
    font-size:25px;
  }
  
  .flowers-containar{
    grid-template-columns: 1fr;
  }
  
  .footer-containar{
    grid-template-columns: 1fr;
    gap:10px;
  }
  
  .footer-nav1 ul{
    text-align:left;
  }
  
  .challenge2{
    display:none;
  }


  .challenge1-containar {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .chall-box1, .chall-box2, .chall-box3 {
    grid-column: auto;
    grid-row: auto;
  }
  
   .challenge1-containar div p{
     font-size: 20px;
   }

  
  
}
